@using DomainModel
@model List<Driver>

<h2>All Drivers</h2>

<table class="table">
    <thead>
        <tr>
            <th>Driver ID</th>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var driver in Model)
        {
            <tr>
                <td>@driver.Id</td>
                <td>@driver.FirstName</td>
                <td>@driver.LastName</td>
            </tr>
        }
    </tbody>
</table>
